<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.draper.dboot.system.dao.SysUserRoleMapper">

    <select id="listByUserId" resultType="com.draper.dboot.system.entity.beans.SysRole">
        SELECT sr.*
        FROM sys_user_role sur
        LEFT JOIN sys_role  sr ON sur.role_id = sr.id
        WHERE sur.user_id = #{userId}
        AND sur.is_delete = 0
        AND sr.is_delete = 0
    </select>


    <select id="listByUsername" resultType="com.draper.dboot.system.entity.beans.SysRole">
        SELECT sr.*
        FROM sys_user_role sur
        LEFT JOIN sys_role  sr ON sur.role_id = sr.id
        LEFT JOIN sys_user su ON sur.user_id = su.id
        WHERE su.username = #{username}
        AND sur.is_delete = 0
        AND sr.is_delete = 0
    </select>
</mapper>
